h1 { text-align: center; }

button {
  display: block;
  margin: auto auto;
  padding: 10px 15px;
}

button:hover { cursor: pointer; }

table {
  margin: 25px auto;
  text-align: center;
}

.hide { display: none; }
